<div class="relative bg-orange-900">
  <div class="mx-auto max-w-7xl py-3 px-3 sm:px-6 lg:px-8">
    <div class="pr-16 sm:px-16 sm:text-center">
      <p class="font-medium text-white">
        <span class="md:hidden">Ils recrutent</span>
        <span class="hidden md:inline">Ces entreprises recrutent en ce moment!</span>
        <span class="block sm:ml-2 sm:inline-block">
          <%= link_to "", class: "font-bold text-white underline" do %>
            Voir les offres
            <span aria-hidden="true"> &rarr;</span>
          <% end %>
        </span>
      </p>
    </div>
  </div>
</div>