<footer class="py-4 text-sm">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 flex flex-col items-center justify-between md:flex-row">
    <%= link_to root_path do %>
      <span class="font-logo font-bold text-lg tracking-tighter">Niger salaires</span>
    <% end %>

    <p class="mt-6 text-slate-500 md:mt-0 font-thin">Copyright ©
      <!-- --><%= Time.current.year %>
      <!-- --> Godilabs, Tout droits reservés.
    </p>
  </div>
</footer>