<div class="hidden only:block">
  <div class="text-center">
    <h1 class="font-black text-gray-200 text-7xl mb-10">Bientôt..</h1>
    <h3 class="font-black text-1xl mb-10">Vous avez des postes vacants?</h3>
    <%= link_to "Publiez vos offres sur notre site", salaries_path, class: "px-5 py-3 mt-6 text-sm font-medium text-white bg-orange-900 rounded hover:bg-black focus:outline-none focus:ring" %>
  </div>
</div>