/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*noinspection CssUnknownTarget*/
@import url('//fonts.googleapis.com/css2?family=Chivo&family=Rubik:wght@300&display=swap');

body {
    font-family: 'Poly', sans-serif;
    background-color: rgba(241,245,249, 1);
}

@font-face {
    font-family: "Poly";
    src: url('PolySans-Neutral.woff') format('woff');
}

.menu {
    display: none;
}

.menu:not(.hidden) {
    display: block;
}

